@tailwind base;
@tailwind components;

@layer components {


    .custom-scroller{
        scrollbar-width: none;
        scrollbar-color:#635BFF rgba(255, 255, 255, 1);
        scroll-margin: 20px;
        scroll-behavior: smooth;
    }


.hero-bg {
@apply bg-gradient-to-r from-indigo-500 from-70% to-sky-500 to-30%  bg-[url('http://127.0.0.1:8000/images/hero-one.jpg')]
}

.ageno-btn {
@apply px-6 py-2 font-medium tracking-wide w-full text-ageno dark:text-gray-300 capitalize transition-colors duration-300 transform bg-white dark:bg-gray-800 hover:bg-ageno hover:text-white
}

.ageno-btn.active {
@apply bg-ageno text-white dark:bg-ageno-dark
}

.ageno-btn.active::after {
    @apply ml-[-5px] mb-[-1px] absolute top-[auto] left-[48%] border bottom-[-10px] content-['']
    
}


.ageno-btn.active::after {
border-radius: 0 !important;
background: 0 0 !important;
border-color: transparent transparent #fff;
border-width: 0 10px 10px;
display: inline-block;
}

}
@tailwind utilities;
