@tailwind base;
@tailwind components;

[x-cloak] { display: none !important; }
@layer components {


    .custom-scroller{
        scrollbar-width: none;
        scrollbar-color:#635BFF rgba(255, 255, 255, 1);
        scroll-margin: 20px;
        scroll-behavior: smooth;
    }


.hero-bg {
@apply bg-gradient-to-r from-indigo-500/50 from-70% to-green-500 to-80%  
}

.ageno-btn {
@apply px-4 py-1.5 md:py-2 md:px-6 text-xs sm:text-sm font-medium rounded-md tracking-wide w-full text-ageno dark:text-white capitalize transition-colors duration-300 transform bg-white dark:bg-ageno hover:bg-ageno hover:text-white
}

.ageno-btn.active {
@apply bg-ageno text-white dark:bg-slate-900
}

.ageno-btn.active::after {
    @apply ml-[-5px] mb-[-1px] absolute top-[auto] left-[48%] border bottom-[-10px] content-['']
    
}


.ageno-btn.active::after {
border-radius: 0 !important;
background: 0 0 !important;
border-color: transparent transparent #fff;
border-width: 0 10px 10px;
display: inline-block;
}

.ageno-btn.active::after {
@apply dark:border-b-slate-900
}

}
@tailwind utilities;
